@import "helper.css";
@import "flex.css";
@import "animations.css";
* {
  --whiteColor: rgb(255, 255, 255);
  --redColor: rgb(255, 0, 0);
  --bgColor: #1a1917;
}
html, body {
  font-family: sans-serif;
  background-color: var(--whiteColor);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.btn {
  padding: 5px;
  border: 0;
  color: white;
  border-radius: 4px;
  background-color: rgb(3, 155, 230);
  outline: none;
}
.btn:hover {
  box-shadow: 0 0 10px rgb(100, 100, 100);
  cursor: pointer;
}